<%- include('partials/header') %>
<div class="container">
<main>
    <div class="py-5 text-center">
        <h2>Create Integration</h2>
    </div>

    <div class="row g-5">
        <div >
            <h4 class="mb-3">Add Integration Name Integration</h4>
            <form class="needs-validation border rounded p-5" novalidate>
                <div class="row g-3">
                    <div class="col-12">
                        <label for="triggerPattern" class="form-label">Trigger Pattern</label>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" id="triggerPattern" placeholder="The pattern which will trigger the integration"
                                required>
                            <div class="invalid-feedback">
                                Trigger Pattern is required
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="text" class="form-label">Reply Pattern</label>
                        <input type="text" class="form-control" id="replyPattern" placeholder="The reply you want to receive">
                        <div class="invalid-feedback">
                            Reply Pattern is required
                        </div>
                    </div>

                    <div class="col-md-5">
                        <label for="country" class="form-label">Course</label>
                        <select class="form-select" id="country" required>
                            <option value="">Course</option>
                            <option>List of courses</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid course
                        </div>
                    </div>

                <hr class="my-4">

                <div class="text-center">
                    <button class="w-50 btn btn-primary btn-lg" type="submit">Add Integration</button>
                </div>
            </form>
        </div>
    </div>
</main>
</div>
<%- include('partials/footer') %>